.row{id: snakecase(result.area)}
  %h3= result.area.titleize

  - result.games.each do |title|

    .col-lg-2
      %h4= title.titleize

    .col-lg-10
      %table.table
        %thead
          %tr
            %th.col-lg-3 ISP
            %th.col-lg-3 Ping
            %th.col-lg-3 Low
            %th.col-lg-3 High

        %tbody
          - result.game_latencies[title].each do |name, ping|
            %tr{class: ping_class(average(ping))}
              %td.col-lg-3= name.titleize
              %td.col-lg-3= average(ping)
              %td.col-lg-3= lowest(ping)
              %td.col-lg-6= highest(ping)


