%h2= area
%table.table
  %thead
    %tr
      %th ISP
      %th Game-Ping
  %tbody
    - isps.each do |isp|
      %tr
        %td= isp
        %td
          %ul
            - games.each do |game|
              %li
                = game
                = "#{': 100ms'}"

%hr
