.row
  .col-md-2.hidden-xs.hidden-sm.fixed
    %h3 Areas
    %ul.nav.nav-stacked{style: "background-color: #FAFAFA"}
      - data.locations.keys.each do |key|
        %li= link_to key.titleize, "##{snakecase(key)}"
      -# - SurveyResult.cached_data(data).each do |result|
      -#   %li= link_to result.area.titleize, "##{snakecase(result.area)}"

  .col-md-10.col-md-offset-3.content
    %h1 Online Gaming Latency Report (Philippines)
    .lead
      %p
        Average latency/ping in Online Games reported by gamers in the Philippines.
    %p
      Contribute to the cause.
      #{link_to "Click here to fill up the latency survey", "https://docs.google.com/forms/d/1c-lECY5cFUiAbGuuuECvE5IXFBHA5L5IrSdxSaieLqM/viewform", class: 'btn btn-primary'}
    %p
      Or donate bitcoins to this address #{link_to "1Jccm62Tx4DWZRjAerZRhgn9a8LqAGfysv", "bitcoin:1Jccm62Tx4DWZRjAerZRhgn9a8LqAGfysv?label=Faster+Philippine+Internet"}
    %hr

    %i last updated February 10, 2014 (255 responses)

    - data.location_data.each do |location, game_data|
      = partial '_result', locals: { location: location, game_data: game_data}

    -# - SurveyResult.cached_data(data).each do |result|
    -#   = partial '_result', locals: { result: result }
    -#   %hr
